*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.body{
    overflow-x: hidden;
    max-width: 100vw;
}

@font-face {
    font-family: Bemirs;
    src: url(BemirsDemoVersionRegular-X361d.otf);
  }

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header{
    background-color: rgb(4, 0, 37);
    min-height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.5);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .container {
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }
  }

#logo{
    text-align: center;
    max-width: fit-content;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:25px;
    
}

#logo_img{
    border-radius: 15px;

}

#title{
    color: aqua;
    margin-left: 25px;
    font-size: 1.4rem;
    font-family: Bebas Neue;
    letter-spacing: 1.5px;
}

#acess_bar{
    right:0px;
    color:aqua;
    margin-right:25px;
}

.link{
    margin: 25px;
    font-family: Bebas Neue;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: aqua;
}

#welcome{
    display: flex;
    max-width: 100vw;
    min-height: fit-content;
    top:-80px;
    overflow: hidden;
}

.background_Image{
    max-width:100vw;
    position: relative;
    z-index: -2;
    overflow: hidden;

}

#welcome_text{
    position: absolute;
    font-size: 3.5rem;
    font-family: Bemirs;
    letter-spacing: 2px;
    color:rgb(136, 198, 12);
    top:25vh;
    left:50vw;
    translate: -50% -50%;
    z-index:-1;
    width: 1000px;
    text-align: center;
}

#content_Holder{
    max-width:100vw;
    height:fit-content;
}

#headline{
    font-family: Bemirs;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;

}

#intro{
    font-family: Bemirs;
    text-align: center;
    padding:100px;
    font-size: 2rem;
}

#features_titles{
    font-family: Bemirs;
    text-align: center;
    padding-bottom:100px;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

#features_Highlights{
    display: flex;
    justify-content: space-between;

}

.features{
    height:200px;
    width: 250px;
    text-align: center;
    font-family: Bemirs;
    font-size: 1.75rem;
    background-color: black;
    color: aliceblue;
    margin:75px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
